In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('BTC-USD.csv')

In [3]:
df['Close']

0       6595.410156
1       6446.470215
2       6495.000000
3       6676.750000
4       6644.129883
           ...
727    10938.271484
728    10462.259766
729    10538.459961
730    10225.864258
731    10745.548828
Name: Close, Length: 732, dtype: float64

In [4]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))
df

,Date,Open,High,Low,Close,Adj Close,Volume
2018-09-24,2018-09-24,6704.770020,6713.560059,6580.899902,6595.410156,6595.410156,4.177310e+09
2018-09-25,2018-09-25,6603.640137,6603.640137,6381.859863,6446.470215,6446.470215,4.726180e+09
2018-09-26,2018-09-26,6452.790039,6585.910156,6397.890137,6495.000000,6495.000000,4.437300e+09
2018-09-27,2018-09-27,6495.290039,6712.100098,6464.950195,6676.750000,6676.750000,4.606810e+09
2018-09-28,2018-09-28,6678.750000,6785.029785,6598.319824,6644.129883,6644.129883,5.014430e+09
...,...,...,...,...,...,...,...
2020-09-20,2020-09-20,11095.870117,11095.870117,10814.477539,10938.271484,10938.271484,2.469952e+10
2020-09-21,2020-09-21,10934.925781,10988.304688,10380.260742,10462.259766,10462.259766,2.888500e+10
2020-09-22,2020-09-22,10459.624023,10568.077148,10382.726563,10538.459961,10538.459961,2.362179e+10
2020-09-23,2020-09-23,10539.457031,10637.847656,10185.774414,10225.864258,10225.864258,2.298673e+10
2020-09-24,2020-09-24,10227.479492,10765.794922,10215.205078,10745.548828,10745.548828,2.301754e+10

In [8]:
df.tail(7)
df.head(7)

,Date,Open,High,Low,Close,Adj Close,Volume
2018-09-24,2018-09-24,6704.770020,6713.560059,6580.899902,6595.410156,6595.410156,4.177310e+09
2018-09-25,2018-09-25,6603.640137,6603.640137,6381.859863,6446.470215,6446.470215,4.726180e+09
2018-09-26,2018-09-26,6452.790039,6585.910156,6397.890137,6495.000000,6495.000000,4.437300e+09
2018-09-27,2018-09-27,6495.290039,6712.100098,6464.950195,6676.750000,6676.750000,4.606810e+09
2018-09-28,2018-09-28,6678.750000,6785.029785,6598.319824,6644.129883,6644.129883,5.014430e+09
2018-09-29,2018-09-29,6643.100098,6643.100098,6511.649902,6601.959961,6601.959961,4.363690e+09
2018-09-30,2018-09-30,6604.709961,6643.779785,6566.540039,6625.560059,6625.560059,4.002280e+09

In [9]:
df.shift(1).head()

,Date,Open,High,Low,Close,Adj Close,Volume
2018-09-24,None,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-25,2018-09-24,6704.770020,6713.560059,6580.899902,6595.410156,6595.410156,4.177310e+09
2018-09-26,2018-09-25,6603.640137,6603.640137,6381.859863,6446.470215,6446.470215,4.726180e+09
2018-09-27,2018-09-26,6452.790039,6585.910156,6397.890137,6495.000000,6495.000000,4.437300e+09
2018-09-28,2018-09-27,6495.290039,6712.100098,6464.950195,6676.750000,6676.750000,4.606810e+09

In [10]:
df['H-L'] = df['High'] - df['Low']
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L
2018-09-24,2018-09-24,6704.770020,6713.560059,6580.899902,6595.410156,6595.410156,4.177310e+09,132.660157
2018-09-25,2018-09-25,6603.640137,6603.640137,6381.859863,6446.470215,6446.470215,4.726180e+09,221.780274
2018-09-26,2018-09-26,6452.790039,6585.910156,6397.890137,6495.000000,6495.000000,4.437300e+09,188.020019
2018-09-27,2018-09-27,6495.290039,6712.100098,6464.950195,6676.750000,6676.750000,4.606810e+09,247.149903
2018-09-28,2018-09-28,6678.750000,6785.029785,6598.319824,6644.129883,6644.129883,5.014430e+09,186.709961
...,...,...,...,...,...,...,...,...
2020-09-20,2020-09-20,11095.870117,11095.870117,10814.477539,10938.271484,10938.271484,2.469952e+10,281.392578
2020-09-21,2020-09-21,10934.925781,10988.304688,10380.260742,10462.259766,10462.259766,2.888500e+10,608.043946
2020-09-22,2020-09-22,10459.624023,10568.077148,10382.726563,10538.459961,10538.459961,2.362179e+10,185.350585
2020-09-23,2020-09-23,10539.457031,10637.847656,10185.774414,10225.864258,10225.864258,2.298673e+10,452.073242
2020-09-24,2020-09-24,10227.479492,10765.794922,10215.205078,10745.548828,10745.548828,2.301754e+10,550.589844